

.opcoes{
    display: flex;
}

.opcao {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;

  position: relative;
  transition: color 0.3s ease;
}


.opcao:hover {
  color: #4facfe; 
}



